<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 60%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
	  draggable:true,
          map: map
        });
	
	google.maps.event.addListener(marker, 'dragend', function() {
	console.log([marker.getPosition().lat(),marker.getPosition().lng()]);
	var Lat = document.getElementById('Lat');
	Lat.placeholder = marker.getPosition().lat();
	var Lng = document.getElementById('Lng');
	Lng.placeholder = marker.getPosition().lng();						
	});
	}

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc9wqXmGnendlUBinhWs1FYCmb2qn-XtQ&callback=initMap">
    </script>
      <fieldset>
        <form action="/" method="post">
          <input name="Lat" id="Lat" type="text" class="ghost-input" placeholder="Latitude" required>
          <input name="Lng" id="Lng" type="text" class="ghost-input" placeholder="Enter a City" required>
	  <input type="submit" class="ghost-button" value="Get Weather">
        </form>
      </fieldset>
  </body>
</html>